body,
html,
div,
ul,
li,
a,
img
{
    font-family: 'Microsoft YaHei',Arial;
    font-size: 14px;

    margin: 0;
    padding: 0;

    color: #222;
}
ul
{
    list-style: none;
}
li{
    cursor: pointer;
}
a
{
    font-weight: 300;

    text-decoration: none;

    color: #fff;
}
div,
input,
ul,
li
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input
{
    outline: none;
}
p.video
{
    font-size: 12px;
    line-height: 21px;

    overflow: hidden;

    height: 42px;
    margin: 0;
    padding: 0;
}
p.heat_video
{
    font-size: 12px;
    line-height: 20px;

    overflow: hidden;

    height: 40px;
    margin-top: 10px;
    padding: 0 10px 0 10px;
}
p.title_tip
{
    font-size: 12px;

    float: right;

    width: 780px;

    opacity: .7;
    margin: 0;
}
div.board_number_top
{
    font-size: 10px;
    font-weight: 700;
    line-height: 20px;

    float: left;

    width: 20px;
    height: 20px;
    margin-right: 10px;

    text-align: center;

    color: #fff;
    border-radius: 5px;
    background-color: #f25d8e;
}
div.board_number_nor
{
    font-size: 10px;
    font-weight: 700;
    line-height: 20px;

    float: left;

    width: 20px;
    height: 20px;
    margin-right: 10px;

    text-align: center;

    color: #fff;
    border-radius: 5px;
    background-color: #b8c0cc;
}
img
{
    cursor: pointer;
}
img.small_video
{
    width: 160px;
    height: 100px;
}
img.big_video
{
    width: 440px;
    height: 220px;
}
.top,
.main,
.bottom
{
    width: 100%;
}
.top
{
    position: relative;

    height: 170px;

    background: url('../img/top_banner.png') no-repeat;
}
.big_adv
{
    clear: both;

    width: 1160px;
    height: 96px;
}
.blur
{
    overflow: hidden;

    width: 100%;
    height: 42px;

    background-color: rgba(0,0,0,.3);
}
.nav_banner
{
    position: absolute;
    z-index: 2;
    top: 0;

    overflow: hidden;

    width: 100%;
    height: 42px;

    background-color: rgba(0,0,0,.3);
}
.nav
{
    line-height: 42px;

    width: 1160px;
    height: 42px;
    margin: 0 auto;
}
.icon
{
    position: absolute;
    top: 10px;
    left: -25px;

    width: 36px;
    height: 36px;

    background: url('../img/bilibili.png') no-repeat;
}
.nav_left_menu > li
{
    line-height: 42px;

    position: relative;

    float: left;

    width: 50px;
    height: 42px;
    margin: 0 12px;

    cursor: pointer;
    -webkit-transition: background-color .3s;
         -o-transition: background-color .3s;
            transition: background-color .3s;
    text-align: center;
}
.nav_left_menu > li:hover
{
    background-color: rgba(255,255,255,.4);
}
.nav_right
{
    float: right;

    height: 42px;
}
.nav_right_search
{
    position: relative;
    right: 50px;

    height: 32px;
}
.nav_right_search > input
{
    font-size: 12px;

    position: relative;
    top: -1px;

    width: 120px;
    height: 32px;
    padding-left: 10px;

    border: 1px solid #ccd0d7;
    border-radius: 16px;
}
.nav_right_search_button
{
    position: relative;
    top: -30px;
    right: -90px;

    width: 20px;
    height: 20px;

    cursor: pointer;

    background: url('../img/search.png');
}
.nav_right_search_button:hover
{
    background: url('../img/search_hover.png');
}
.nav_right_log
{
    line-height: 42px;

    height: 42px;
}
.nav_right_log_list
{
    line-height: 42px;

    height: 42px;
}
.nav_right_log_list > li
{
    line-height: 42px;

    float: left;

    width: 50px;
    height: 42px;
    margin: 0 2px;

    cursor: pointer;
    -webkit-transition: background-color .3s;
         -o-transition: background-color .3s;
            transition: background-color .3s;
    text-align: center;
}
.nav_right_log_list > li:hover
{
    background-color: rgba(255,255,255,.4);
}
.nav_right_submit
{
    line-height: 42px;

    width: 58px;
    height: 48px;

    cursor: pointer;
    text-align: center;

    opacity: 1;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: -webkit-linear-gradient(#f35d8f, #d5517d);
    background:      -o-linear-gradient(#f35d8f, #d5517d);
    background:    -moz-linear-gradient(#f35d8f, #d5517d);
    background:         linear-gradient(#f35d8f, #d5517d);
}
.nav_right_submit:hover
{
    background: -webkit-linear-gradient(#ff86ae, #e3779b);
    background:      -o-linear-gradient(#ff86ae, #e3779b);
    background:    -moz-linear-gradient(#ff86ae, #e3779b);
    background:         linear-gradient(#ff86ae, #e3779b);
}
.main
{
    width: 1160px;
    height: 4000px;
    margin: 0 auto;
}
.main_nav
{
    width: 1160px;
    height: 60px;
    margin: 0 auto;
    padding: 0 20px 0 0;
}
.main_nav_list
{
    line-height: 60px;

    width: 800px;
    height: 60px;

    text-align: center;
}
.main_nav_list a
{
    font-weight: normal;

    color: #000;
}
.main_nav_list > li
{
    line-height: 60px;

    float: left;

    width: 60px;

    cursor: pointer;
}
.main_nav_list > li:hover a
{
    color: #00a1d6;
}
.main_heat
{
    width: 1160px;
    height: 220px;
}
.main_heat_swing
{
    float: left;
    overflow: hidden;

    width: 440px;
    height: 220px;

    border-radius: 5px;
    background-color: black;
}
.swing_list
{
    position: relative;
    right: 0;

    width: 1760px;
    height: 220px;

    -webkit-transition: right .5s;
         -o-transition: right .5s;
            transition: right .5s;
}
.swing_list > li
{
    float: left;
}
.video_brief
{
    position: absolute;
    top: 0;

    width: 160px;
    height: 100px;

    -webkit-transition: opacity .5s;
         -o-transition: opacity .5s;
            transition: opacity .5s;

    opacity: 0;
    color: #fff;
    background-color: rgba(0,0,0,.7);
}
.main_heat_video > li
{
    position: relative;

    float: left;

    width: 160px;
    height: 100px;
    margin-bottom: 20px;
    margin-left: 20px;

    background-color: black;
}
.main_heat_video > li:hover .video_brief
{
    opacity: 1;
}
.main_extend
{
    width: 1160px;
    height: 214px;
}
.main_extend_nav
{
    width: 1160px;
    height: 60px;
}
.main_extend_nav_title
{
    font-size: 24px;
    line-height: 60px;

    float: left;

    width: 900px;
    height: 60px;
}
.main_extend_video
{
    float: left;

    width: 900px;
    height: 155px;
}
.main_extend_video > li
{
    float: left;
    overflow: hidden;

    width: 160px;
    height: 155px;
    margin-right: 20px;

    position: relative;
}
.main_extend_video > li:hover .video_brief
{
    opacity: 1;
}
.main_extend_adv
{
    float: right;
    overflow: hidden;

    width: 260px;
    height: 194px;

    border-radius: 5px;
}
.main_comic
{
    width: 1160px;
    height: 396px;
}
.main_comic_nav
{
    width: 1160px;
    height: 60px;
}
.main_comic_nav_title
{
    font-size: 24px;
    line-height: 60px;

    float: left;

    width: 900px;
    height: 60px;
}
.main_comic_video
{
    float: left;

    width: 900px;
    height: 336px;
}
.main_comic_video > li
{
    float: left;
    overflow: hidden;

    width: 160px;
    height: 168px;
    margin-right: 20px;
    position: relative;
}
.main_comic_video > li:hover .video_brief{
    opacity: 1;
}
.main_comic_board
{
    float: right;

    width: 260px;
    height: 310px;
}
.main_comic_board_list > li
{
    font-size: 10px;
    line-height: 20px;

    overflow: hidden;

    width: 260px;
    height: 20px;
    margin: 20px 0;
}


















.bottom
{
    position: relative;
    top: 50px;

    width: 100%;
    height: 422px;

    background-color: #f6f9f6;
}
.bottom_link
{
    position: relative;
    top: 50px;

    height: 112px;
}
.bottom_wrap
{
    width: 980px;
    height: 342px;
    margin: 0 auto;
}
.bottom_link_left,
.bottom_link_mid
{
    float: left;

    width: 349px;
    height: 112px;

    border-right: 1px solid #e5e9ef;
}
.bottom_link_left_title,
.bottom_link_mid_title
{
    height: 28px;
    padding-left: 20px;

    color: #777;
}
.bottom_link_left_list,
.bottom_link_mid_list
{
    height: 84px;
    padding-right: 20px;
    padding-left: 20px;
}
.bottom_link_left_list > li
{
    line-height: 28px;

    float: left;

    width: 102px;
    height: 28px;
}
.bottom_link_mid_list > li
{
    line-height: 28px;

    float: left;

    width: 102px;
    height: 28px;
}
.bottom_link_right
{
    float: right;

    width: 282px;
    height: 112px;
}
.bottom_link_right_phone,
.bottom_link_right_blog,
.bottom_link_right_wechat
{
    float: left;

    width: 56px;
    height: 56px;
    margin-left: 30px;
}
.bottom_info
{
    position: relative;
    top: 100px;

    width: 980px;
    height: 80px;
}
.bottom_info_block
{
    font-size: 10px;
    line-height: 1;

    float: left;

    margin-left: 20px;
}
