body,
html,
div,
ul,
li,
a,
textarea
{
    font-family: 'Microsoft YaHei',Arial;
    font-size: 14px;

    margin: 0;
    padding: 0;

    color: #222;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;

    color: #222;
}
a:hover
{
    color: #5aa8d7;
}
div,
input,
ul,
li,
textarea
{
    box-sizing: border-box;
}
input
{
    outline: none;
}
img
{
    cursor: pointer;
}
body,
html,
div,
ul,
li,
a
{
    font-family: 'Microsoft YaHei',Arial;
    font-size: 14px;

    margin: 0;
    padding: 0;

    color: #222;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;

    color: #222;
}
a:hover
{
    color: #5aa8d7;
}
div,
input,
ul,
li
{
    box-sizing: border-box;
}
input
{
    outline: none;
}
img
{
    cursor: pointer;
}
.top,
.main,
.bottom
{
    width: 100%;
}
.nav_banner
{
    width: 100%;
    height: 42px;

    background: #fff;
    box-shadow: 0 1px 5px #aaa;
}
.nav
{
    line-height: 42px;

    width: 980px;
    height: 42px;
    margin: 0 auto;
}
.icon
{
    position: absolute;
    top: 10px;
    left: -25px;

    width: 36px;
    height: 36px;

    background: url('../img/bilibili.png') no-repeat;
}
.nav_left_menu > li
{
    line-height: 42px;

    position: relative;

    float: left;

    height: 42px;
    margin: 0 12px;

    cursor: pointer;
    text-align: center;
}
.nav_left_menu > li:hover
{
    color: #00a0d8;
}
.nav_right
{
    float: right;

    height: 42px;
}
.nav_right_search
{
    position: relative;
    right: 50px;

    height: 32px;
}
.nav_right_search > input
{
    font-size: 12px;

    position: relative;
    top: -1px;

    width: 120px;
    height: 32px;
    padding-left: 10px;

    border: 1px solid #ccd0d7;
    border-radius: 16px;
}
.nav_right_search_button
{
    position: relative;
    top: -30px;
    right: -90px;

    width: 20px;
    height: 20px;

    cursor: pointer;

    background: url('../img/search.png');
}
.nav_right_search_button:hover
{
    background: url('../img/search_hover.png');
}
.nav_right_log
{
    line-height: 42px;

    height: 42px;
}
.nav_right_log_list
{
    line-height: 42px;

    height: 42px;
}
.nav_right_log_list > li
{
    line-height: 42px;

    float: left;

    width: 50px;
    height: 42px;
    margin: 0 2px;

    cursor: pointer;
}
.nav_right_submit
{
    line-height: 42px;

    width: 58px;
    height: 48px;

    cursor: pointer;
    text-align: center;

    opacity: 1;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: -webkit-linear-gradient(#f35d8f, #d5517d);
    background:      -o-linear-gradient(#f35d8f, #d5517d);
    background:    -moz-linear-gradient(#f35d8f, #d5517d);
    background:         linear-gradient(#f35d8f, #d5517d);
}
.nav_right_submit:hover
{
    background: -webkit-linear-gradient(#ff86ae, #e3779b);
    background:      -o-linear-gradient(#ff86ae, #e3779b);
    background:    -moz-linear-gradient(#ff86ae, #e3779b);
    background:         linear-gradient(#ff86ae, #e3779b);
}














.main_post,
.main_help
{
    width: 980px;

    box-shadow: 0 1px 10px #bbb;
}
.main_post
{
    z-index: 1;

    height: 1100px;
    margin: 30px auto;

    background-color: rgba(255,255,255,1);
}
.main_chose_button_banner
{
    height: 200px;
    padding-top: 100px;
}
.main_chose_button
{
    width: 260px;
    height: 74px;
    margin: 0 auto;
    padding-top: 17px;

    cursor: pointer;

    border-radius: 37px;
    background-color: #00a2d7;
}
.main_chose_button:hover
{
    background-color: #00b6e6;
}
.main_chose_button_img
{
    position: relative;
    left: 50px;

    padding-right: 10px;

    border-right: 1px solid #38b6df;
}
.main_chose_button_word
{
    position: relative;
    top: -5px;

    float: right;

    width: 157px;
    height: 40px;
    padding-left: 20px;
}
.main_post_info
{
    width: 800px;
    height: 900px;
    margin: 0 auto;

    background-color: #fff;
}
.class_checkbox
{
    line-height: 18px;

    float: left;

    width: 80px;
    height: 48px;
    padding: 16px 0 16px 0;
}
.notpersonal_decoration
{
    font-size: 14px;

    width: 800px;
    height: 48px;
    padding: 10px;

    opacity: .7;
    border: 1px solid #aaa;
    border-radius: 2px;
}
.notpersonal_decoration:focus
{
    border: 1px solid #00a1d6;
}
.notpersonal_decoration:hover
{
    border: 1px solid #00a1d6;
}
.checkbox_round
{
    float: left;

    width: 18px;
    height: 18px;
    margin-right: 10px;

    -webkit-transition: all .1s;
       -moz-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;

    border: 1px solid #aaa;
    border-radius: 50%;
    background-color: #fff;
}
.zone_list
{
    height: 100px;
}
.zone_list > li
{
    line-height: 30px;

    float: left;

    width: 75px;
    height: 30px;
    margin: 20px 20px 0 0;

    cursor: pointer;
    text-align: center;

    border: 1px solid #ccd0d7;
    border-radius: 2px;
    background-color: #f4f5f7;
}
.zone_list > li:hover
{
    color: #00a1d6;
    border: 1px solid #00a1d6;
    background-color: #fff;
}
.video_title
{
    font-size: 14px;

    width: 800px;
    height: 48px;
    padding: 10px;

    opacity: .7;
    border: 1px solid #aaa;
    border-radius: 2px;
}
.video_title:hover
{
    border: 1px solid #00a1d6;
}
.video_title:focus
{
    border: 1px solid #00a1d6;
}
.video_brief
{
    font-size: 14px;

    width: 800px;
    height: 200px;
    padding: 10px;

    resize: none;

    opacity: .7;
    border: 1px solid #aaa;
    border-radius: 2px;
}
.main_submit_button
{
    font-size: 20px;
    line-height: 74px;

    width: 260px;
    height: 74px;
    margin: 0 auto;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border-radius: 5px;
    background-color: #00a2d7;
}
.main_submit_button:hover
{
    background-color: #00b6e6;
}
.main_help
{
    height: 162px;
    margin: 0 auto;

    background-color: #fff;
}























.bottom
{
    position: relative;
    top: 50px;

    width: 100%;
    height: 422px;

    background-color: #f6f9f6;
}
.bottom_link
{
    position: relative;
    top: 50px;

    height: 112px;
}
.bottom_wrap
{
    width: 980px;
    height: 342px;
    margin: 0 auto;
}
.bottom_link_left,
.bottom_link_mid
{
    float: left;

    width: 349px;
    height: 112px;

    border-right: 1px solid #e5e9ef;
}
.bottom_link_left_title,
.bottom_link_mid_title
{
    height: 28px;
    padding-left: 20px;

    color: #777;
}
.bottom_link_left_list,
.bottom_link_mid_list
{
    height: 84px;
    padding-right: 20px;
    padding-left: 20px;
}
.bottom_link_left_list > li
{
    line-height: 28px;

    float: left;

    width: 102px;
    height: 28px;
}
.bottom_link_mid_list > li
{
    line-height: 28px;

    float: left;

    width: 102px;
    height: 28px;
}
.bottom_link_right
{
    float: right;

    width: 282px;
    height: 112px;
}
.bottom_link_right_phone,
.bottom_link_right_blog,
.bottom_link_right_wechat
{
    float: left;

    width: 56px;
    height: 56px;
    margin-left: 30px;
}
.bottom_info
{
    position: relative;
    top: 100px;

    width: 980px;
    height: 80px;
}
.bottom_info_block
{
    font-size: 10px;
    line-height: 1;

    float: left;

    margin-left: 20px;
}
