body,
html,
div,
ul,
li,
a,
img,
textarea
{
    font-family: 'Microsoft YaHei',Arial;
    font-size: 14px;

    margin: 0;
    padding: 0;

    color: #222;
}
ul
{
    list-style: none;
}
li
{
    cursor: pointer;
}
a
{
    font-weight: 300;

    text-decoration: none;

    color: #fff;
}
div,
input,
ul,
li,
video,
textarea
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input
{
    outline: none;
}
img
{
    cursor: pointer;
}
body
{
    background-color: #f6f9fa;
}
::-webkit-scrollbar
{
    width: 8px;

    border: 2px solid #e1e5ea;
    border-radius: 5px;
    background-color: #e1e5ea;
}
::-webkit-scrollbar-thumb
{
    border: 10px solid #c3cad4;
    border-radius: 4px;
    background-color: #aab1bc;
}
::-webkit-scrollbar-thumb:hover
{
    border: 4px solid #aab1bc;
    background-color: #aab1bc;
}
.top,
.main,
.bottom
{
    width: 100%;
}
.top
{
    position: relative;

    height: 170px;

    background: url('../img/top_banner.png') no-repeat;
}
.big_adv
{
    clear: both;

    width: 1160px;
    height: 96px;
}
.blur
{
    overflow: hidden;

    width: 100%;
    height: 42px;

    background-color: rgba(0,0,0,.3);
}
.nav_banner
{
    position: absolute;
    z-index: 2;
    top: 0;

    width: 100%;
    height: 42px;

    background-color: rgba(0,0,0,.3);
}
.nav
{
    line-height: 42px;

    width: 1160px;
    height: 42px;
    margin: 0 auto;
}
.nav a
{
    font-size: 12px;
}
.icon
{
    position: absolute;
    top: 10px;
    left: -25px;

    width: 36px;
    height: 36px;

    background: url('../img/bilibili.png') no-repeat;
}
.nav_left_menu > li
{
    line-height: 42px;

    position: relative;

    float: left;

    width: 50px;
    height: 42px;
    margin: 0 12px;

    cursor: pointer;
    -webkit-transition: background-color .3s;
         -o-transition: background-color .3s;
            transition: background-color .3s;
    text-align: center;
}
.nav_left_menu > li:hover
{
    background-color: rgba(255,255,255,.4);
}
.nav_right
{
    float: right;

    height: 42px;
}
.nav_right_search
{
    position: relative;
    right: 50px;

    height: 32px;

    opacity: 0;
}
.nav_right_search > input
{
    font-size: 12px;

    position: relative;
    top: -1px;

    width: 120px;
    height: 32px;
    padding-left: 10px;

    border: 1px solid #ccd0d7;
    border-radius: 16px;
}
.nav_right_search_button
{
    position: relative;
    top: -30px;
    right: -90px;

    width: 20px;
    height: 20px;

    cursor: pointer;

    background: url('../img/search.png');
}
.nav_right_search_button:hover
{
    background: url('../img/search_hover.png');
}
.nav_right_log
{
    line-height: 42px;

    height: 42px;
}
.nav_right_user_list
{
    line-height: 42px;

    height: 42px;

    opacity: 0;
}
.head_pic_banner
{
    position: relative;
    top: 0;
    left: 0;

    float: left;

    width: 42px;
    height: 42px;

    -webkit-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
}
.head_pic_banner:hover
{
    top: 10px;
    left: 9px;

    width: 60px;
}
.head_pic_banner:hover img.head_pic
{
    width: 60px;
    height: 60px;
}
.head_pic_banner:hover .nav_user_info_board
{
    top: 32px;

    height: 275px;
}
img.head_pic
{
    position: relative;
    left: 0;

    width: 42px;
    height: 42px;

    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;

    border-radius: 50%;
}
.nav_user_info_board
{
    position: absolute;
    top: 42px;
    left: -100px;

    overflow: hidden;

    width: 262px;
    height: 0;

    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;

    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 8px 3px rgba(0,0,0,.1);
}
.nav_user_info
{
    width: 262px;
    height: 244px;
}
.nav_logout_button
{
    width: 262px;
    height: 30px;

    background-color: #f4f5f7;
}
.nav_right_user_list > li
{
    line-height: 42px;

    float: left;

    width: 50px;
    height: 42px;
    margin: 0 2px;

    cursor: pointer;
    -webkit-transition: background-color .3s;
         -o-transition: background-color .3s;
            transition: background-color .3s;
    text-align: center;
}
.nav_right_user_list > li:hover
{
    background-color: rgba(255,255,255,.4);
}
.nav_right_log_list
{
    line-height: 42px;

    height: 42px;
}
.nav_right_log_list > li
{
    line-height: 42px;

    float: left;

    width: 50px;
    height: 42px;
    margin: 0 2px;

    cursor: pointer;
    -webkit-transition: background-color .3s;
         -o-transition: background-color .3s;
            transition: background-color .3s;
    text-align: center;
}
.nav_right_log_list > li:hover
{
    background-color: rgba(255,255,255,.4);
}
.nav_right_submit
{
    line-height: 42px;

    width: 58px;
    height: 48px;

    cursor: pointer;
    text-align: center;

    opacity: 1;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: -webkit-linear-gradient(#f35d8f, #d5517d);
    background:      -o-linear-gradient(#f35d8f, #d5517d);
    background:    -moz-linear-gradient(#f35d8f, #d5517d);
    background:         linear-gradient(#f35d8f, #d5517d);
}
.nav_right_submit:hover
{
    background: -webkit-linear-gradient(#ff86ae, #e3779b);
    background:      -o-linear-gradient(#ff86ae, #e3779b);
    background:    -moz-linear-gradient(#ff86ae, #e3779b);
    background:         linear-gradient(#ff86ae, #e3779b);
}
.main
{
    margin: 0 auto;

    background-color: #f6f9fa;
}
.main_nav_banner
{
    width: 100%;
    height: 60px;

    background-color: #fff;
}
.main_nav
{
    width: 1160px;
    height: 60px;
    margin: 0 auto;
    padding: 0 20px 0 0;
}
.main_nav_list
{
    line-height: 60px;

    width: 800px;
    height: 60px;

    text-align: center;
}
.main_nav_list a
{
    font-weight: normal;

    color: #000;
}
.main_nav_list > li
{
    line-height: 60px;

    float: left;

    width: 60px;

    cursor: pointer;
}
.main_nav_list > li:hover a
{
    color: #00a1d6;
}
.main_video_info_banner
{
    width: 100%;
    height: 252px;

    border-top: 1px solid #e5e9ef;
    border-bottom: 1px solid #e5e9ef;
    background-color: #fff;
}
.main_video_info
{
    width: 1160px;
    height: 252px;
    margin: 0 auto;
}
.video_info
{
    float: left;

    width: 700px;
    height: 152px;
}
p.video_tittle
{
    font-size: 20px;
    font-weight: normal;

    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
}
p.video_zone
{
    font-size: 12px;

    float: left;

    margin: 10px 100px 10px 0;
    padding: 0;

    opacity: .5;
}
p.video_date
{
    font-size: 12px;

    float: left;

    margin: 10px 0 10px 0;
    padding: 0;

    opacity: .5;
}
.video_play_info > li
{
    line-height: 26px;

    float: left;

    width: 90px;
    height: 26px;
    margin-right: 20px;
}
.user_info
{
    float: right;

    width: 315px;
    height: 152px;
    padding-top: 20px;
    padding-left: 90px;
}
p.user_name
{
    font-size: 15px;

    margin: 5px 0 5px 0;

    color: #f35d8f;
}
p.user_brief
{
    font-size: 12px;
    line-height: 18px;

    margin: 0;
}
p.video_count
{
    font-size: 12px;
    line-height: 18px;

    float: left;

    width: 100px;
    margin: 5px 0 15px 0;

    opacity: .5;
}
p.user_fan
{
    font-size: 12px;
    line-height: 18px;

    float: left;

    width: 100px;
    margin: 5px 0 15px 0;

    opacity: .5;
}
.follow_button
{
    line-height: 24px;

    float: left;

    width: 140px;
    height: 24px;

    cursor: pointer;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    text-align: center;

    color: #fff;
    border-radius: 4px;
    background-color: #00a1d6;
}
.follow_button:hover
{
    background-color: #00b5e5;
}
.charge_button
{
    line-height: 22px;

    float: right;

    width: 70px;
    height: 24px;

    cursor: pointer;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    text-align: center;

    color: #f35d8f;
    border: 1px solid #f35d8f;
    border-radius: 4px;
    background-color: #fff;
}
.charge_button:hover
{
    color: #fff;
    background-color: #f35d8f;
}
.adv
{
    overflow: hidden;

    width: 1160px;
    height: 88px;
    padding: 10px 0 10px 0;
}
.main_video_play
{
    width: 1160px;
    height: 686px;
    margin: 0 auto;

    background-color: black;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.1);
}
.main_video
{
    float: left;

    width: 860px;
    height: 647px;

    background-color: gray;
}
.main_danmu_send_input
{
    float: right;

    width: 780px;
    height: 40px;
}
.main_danmu
{
    float: right;

    width: 300px;
    height: 686px;

    background-color: #fff;
}
.main_danmu_info
{
    line-height: 60px;

    width: 300px;
    height: 60px;
    padding-left: 20px;

    color: gray;
    border-bottom: 1px solid #e5e9ef;
}
.main_danmu_content
{
    position: relative;

    width: 300px;
    height: 626px;

    border-left: 1px solid #e5e9ef;
}
.main_danmu_tittle > li
{
    font-size: 12px;
    line-height: 30px;

    overflow: hidden;

    width: 300px;
    height: 30px;

    opacity: .5;
}
.main_danmu_list
{
    position: relative;

    overflow: auto;
    overflow-x: hidden;

    width: 300px;
    height: 596px;
}
.main_danmu_list > li
{
    font-size: 12px;
    line-height: 30px;

    overflow: hidden;

    width: 300px;
    height: 30px;

    opacity: .5;
}
.main_danmu_list > li:hover
{
    background-color: #f6f9fa;
}
span.time
{
    display: inline-block;

    width: 60px;
    height: 30px;
    padding-left: 30px;
}
.main_danmu_history
{
    line-height: 40px;

    position: absolute;
    bottom: 0;

    width: 300px;
    height: 40px;

    cursor: pointer;
    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
    text-align: center;

    color: rgba(0,0,0,.4);
    border-top: 1px solid #e5e9ef;
    background-color: #fff;
}
.main_danmu_history:hover
{
    color: rgba(0,0,0,1);
}
.main_send_danmu
{
    float: left;

    width: 860px;
    height: 40px;

    border-top: 1px solid #e5e9ef;
    border-bottom: 1px solid #e5e9ef;
    background-color: #fff;
}
.main_danmu_send_setting
{
    float: left;

    width: 80px;
    height: 40px;
}
.danmu_input
{
    width: 780px;
    height: 40px;
    padding: 10px;

    opacity: .5;
    border: 1px solid rgba(255,255,255,0);
    border-right: 1px solid #e5e9ef;
    border-bottom: 1px solid #e5e9ef;
    background-color: #f8f8f8;
}
.send_danmu_button
{
    font-weight: 500;
    line-height: 30px;

    position: relative;
    top: -35px;
    left: 700px;

    width: 66px;
    height: 30px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border-radius: 5px;
    background-color: #00a1d6;
}
.send_danmu_button:hover
{
    background-color: #00b5e5;
}
.danmu_send_setting_list
{
    float: left;

    width: 80px;
    height: 40px;
}
.danmu_send_setting_list > li
{
    float: left;

    width: 40px;
    height: 40px;
}
.main_function
{
    width: 1160px;
    height: 82px;
    margin: 0 auto;

    border: 1px solid #e5e9ef;
    border-radius: 5px;
    background-color: #fff;
}
.main_function_list
{
    float: left;

    width: 870px;
    height: 82px;
}
.main_function_list img
{
    float: left;
}
.main_function_list > li
{
    float: left;

    min-width: 160px;
    height: 78px;
    padding: 0 20px;
}
p.function_name
{
    font-size: 20px;
    line-height: 40px;

    float: right;

    width: 90px;
    height: 40px;
    margin: 0;
    margin-top: 15px;
    margin-left: 5px;
    padding: 0;
}
p.function_data
{
    font-size: 10px;
    line-height: 10px;

    position: relative;
    top: -5px;
    left: 8px;

    height: 10px;
    margin: 0;
    padding: 0;

    opacity: .5;
}
.footer
{
    width: 100%;
    min-height: 1000px;

    border-top: 1px solid #e5e9ef;
    background-color: #fff;
}
.footer_banner
{
    width: 1160px;
    height: 1000px;
    margin: 0 auto;

    background-color: #fff;
}
.footer_left_banner
{
    float: left;

    width: 870px;
    min-height: 800px;
}
.footer_video_tag
{
    float: left;

    width: 870px;
    min-height: 100px;
    padding: 30px;

    border-bottom: 1px solid #e5e9ef;
}
.video_tag_list > li
{
    font-size: 12px;
    line-height: 22px;

    float: left;

    min-width: 50px;
    height: 24px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 0 10px;

    -webkit-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
    text-align: center;

    opacity: .7;
    border: 1px solid #e5e9ef;
    border-radius: 12px;
}
.video_tag_list > li.add_tag
{
    width: 26px;
    min-width: 0;
    height: 26px;

    opacity: .5;
    border-color: #aaa;
    background: url(../img/add.png);
}
.video_tag_list > li.add_tag:hover
{
    background: url(../img/add_hover.png);
}
.video_tag_list > li:hover
{
    color: #00a1d6;
    border: 1px solid #00a1d6;
}
.footer_video_brief
{
    float: left;

    width: 870px;
    min-height: 100px;
    padding: 20px 30px;

    border-bottom: 1px solid #e5e9ef;
}
p.video_brief
{
    font-size: 12px;
    line-height: 24px;

    opacity: .7;
}
.footer_video_coment
{
    float: left;

    width: 870px;
    min-height: 600px;
    padding-top: 30px;
}
img.head_pic_comment
{
    float: left;

    width: 48px;
    height: 48px;

    border-radius: 50%;
}
textarea.comment_input
{
    float: right;

    width: 705px;
    height: 65px;
    padding: 10px;

    resize: none;

    opacity: .7;
    border: 1px solid #e5e9ef;
    border-radius: 3px;
    background-color: #f4f5f7;
}
textarea.comment_input:focus
{
    border: 1px solid #00a1d6;
}
.comment_submit_button
{
    font-size: 14px;
    line-height: 17px;

    float: right;

    width: 70px;
    height: 65px;
    margin-left: 10px;
    padding: 15px;

    cursor: pointer;
    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
    text-align: center;

    opacity: 1;
    color: #fff;
    border-radius: 3px;
    background-color: #00a1d6;
}
.comment_submit_button:hover
{
    opacity: .8;
}
.show_comment_content
{
    padding-top: 10px;
    position: relative;
    top: 30px;

    clear: both;

    width: 870px;
    min-height: 500px;
}
.comment_banner
{
    width: 870px;
    height: 110px;
    position: relative;
}
.show_comment_content_list
{
    width: 870px;
    min-height: 220px;
}
.show_comment_content_list li
{
    width: 785px;
    height: 110px;
    float: right;
    border-top: 1px solid #e5e9ef;
    padding-top: 10px;
}
p.user_account
{
    margin: 0;
    width: 785px;
    padding: 0;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
}
p.comment_content{
    margin: 0;
    width: 785px;
    padding: 0;
    height: 30px;
    line-height: 30px;
}
.footer_right_banner
{
    float: right;

    width: 260px;
    height: 600px;

padding-top: 30px;
}
.footer_right_banner span
{
    width: 260px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    position: relative;
}
.small_adv_banner
{
    width: 260px;
    height: 232px;
    margin-top: 30px;
}











.bottom
{
    position: relative;
    top: 50px;

    width: 100%;
    height: 422px;

    background-color: #f6f9fa;
}
.bottom_link
{
    position: relative;
    top: 50px;

    height: 112px;
}
.bottom_wrap
{
    width: 980px;
    height: 342px;
    margin: 0 auto;
}
.bottom_link_left,
.bottom_link_mid
{
    float: left;

    width: 349px;
    height: 112px;

    border-right: 1px solid #e5e9ef;
}
.bottom_link_left_title,
.bottom_link_mid_title
{
    height: 28px;
    padding-left: 20px;

    color: #777;
}
.bottom_link_left_list,
.bottom_link_mid_list
{
    height: 84px;
    padding-right: 20px;
    padding-left: 20px;
}
.bottom_link_left_list > li
{
    line-height: 28px;

    float: left;

    width: 102px;
    height: 28px;
}
.bottom_link_mid_list > li
{
    line-height: 28px;

    float: left;

    width: 102px;
    height: 28px;
}
.bottom_link_right
{
    float: right;

    width: 282px;
    height: 112px;
}
.bottom_link_right_phone,
.bottom_link_right_blog,
.bottom_link_right_wechat
{
    float: left;

    width: 56px;
    height: 56px;
    margin-left: 30px;
}
.bottom_info
{
    position: relative;
    top: 100px;

    width: 980px;
    height: 80px;
}
.bottom_info_block
{
    font-size: 10px;
    line-height: 1;

    float: left;

    margin-left: 20px;
}
